# General
.DS_Store
node_modules/
npm-debug.log
yarn-error.log
.env
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend (Node.js)
backend/node_modules/
backend/.env
backend/.DS_Store
backend/dist/
backend/build/

# Frontend Web (React.js)
frontend-web/node_modules/
frontend-web/.env
frontend-web/.DS_Store
frontend-web/build/
frontend-web/dist/

# Mobile App (React Native)
frontend-mobile/node_modules/
frontend-mobile/.env
frontend-mobile/.DS_Store
frontend-mobile/android/app/debug.keystore
frontend-mobile/ios/Pods/
frontend-mobile/ios/Podfile.lock

# Database & Data
data/*.json
mongodb-data/
*.sqlite
*.sqlite-journal

# OS-specific
Thumbs.db
.idea/
.vscode/