* {
    font-family: 'Roboto', sans-serif;
  }

  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Avoid scrollbars */
    font-family: 'Roboto', sans-serif;
  }

  .mapboxgl-ctrl-geocoder {
    min-width: 300px;
    font-family: Roboto, sans-serif;
    z-index: 2;
  }